.Header__Text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #dedede;
  text-decoration: none;
}

.Header__Button:hover,
.Header__Button a:hover {
  transform: scale(1.5);
  color: #ffffff;
}

.nav-link {
  text-align: center;
  color: #959595 !important;
}

.nav-link:hover {
  transition: transform 0.3s;
  transform: scale(1.5);
  color: #ffffff !important;
  font-weight: bold;
}

.navbar {
  padding: 10px 100px !important;
}

.Header__Navbar.bg-dark {
  background-color: rgba(50, 50, 50, 0.6) !important;
}
