@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

.Main__Body {
  font-family: "Manrope", "Work Sans", "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202020;
  background-image: url("../src/images/3px-tile.png");
}
